
html{
    height: 100%;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background-color: rgb(242, 250, 253);
  height:100%
}
.button {
  background-color: rgb(255, 255, 255,0.01);
  border: 2px solid white;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 2px;
  border-radius: 10%;
}
.button:hover{
    border: 2px solid lightblue;
}
.nav-link{
  margin: 5px;
}
.left-column-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
}
.right-column-container{
    width: 30%
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #124991;
  overflow-x: hidden;
  padding-top: 20px;
  justify-content: center;
  align-items: center;

  /* display: flex;
  flex-direction: column; */
}
.logo{
    margin-bottom: 20px;
}
.sidenav a {
  padding: 6px 6px 6px 6px;
  text-decoration: none;
  font-size: 16px;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color: lightblue;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  background-color: rgb(242, 250, 253)

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
iframe {
        border: 0px;
        width: 100%; /* takes precedence over the width set with the HTML width attribute */
      }

